[submodule "chengying-web"]
	path = chengying-web
	url = https://github.com/DTStack/chengying-web.git
[submodule "chengying-agent"]
	path = chengying-agent
	url = https://github.com/DTStack/chengying-agent.git
[submodule "chengying-schema"]
	path = chengying-schema
	url = https://github.com/DTStack/chengying-schema.git
[submodule "chengying-server"]
	path = chengying-server
	url = https://github.com/DTStack/chengying-server.git
