.del-comfirm-dialog {
    .ant-confirm-btns {
        .ant-btn:first-child {
            color: #fff;
            background-color: #3f87ff;
            border-color: #3f87ff;
        }
        .ant-btn-primary {
            color: rgba(0, 0, 0, 0.65);
            background-color: #fff;
            border-color: #d9d9d9;
        }
    }
}