.step-container {
  padding: 20px;
  .ant-modal-confirm .ant-modal-body{
    padding: 20px !important;
  }

  .step-main-container {
    height: 100%;
    overflow: auto;
    box-shadow: 0px 2px 10px 0px rgba(230, 230, 230, 1);
    border-radius: 2px;
    background: #fff;
    padding: 12px 0px 0px;
    display: flex;
    flex-direction: column;
    .stop-btn {
      background: #ffffff;
      border: 1px solid #cf131c;
      border-radius: 4px;

      &:hover {
        color: #cf131c;
      }
    }

    .steps-comp-container {
      padding: 0 181px 16px 181px;
      .ant-steps-item-title {
        font-size: 14px;
      }
      .ant-steps-item-icon {
        width: 30px;
        height: 30px;
        .ant-steps-icon {
          top: -2px;
        }
      }
    }

    .btn-container {
      text-align: center;
      padding: 18px 0;
      background-color: #fafafa;
      .dt-em-btn {
        width: 106px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .step-content-container {
    padding: 20px;
    background-color: #fafafa;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    flex: 1;

    .header-box {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 12px;

      .ant-btn > .anticon + span,
      .ant-btn > span + .anticon {
        margin-left: 0;
      }

      button {
        width: 100px;
        height: 26px;
        padding: 0;

        .anticon {
          margin-right: 3px;
        }
      }

      p {
        margin-left: 6px;
      }
    }

    .ant-table {
      .ant-table-thead > tr > th{
        padding: 10px 20px;
        height: 40px;
      }
      .ant-table-thead > tr > th:nth-child(2){
        padding: 10px 56px;
      }
      .ant-table-tbody > tr > td {
        padding: 0 20px;
        line-height: 44px;
        height: 44px;
      }
    }
  }

  .step-one-container {
    .ant-table-row-expand-icon-cell,
    .ant-table-expand-icon-th {
      display: none;
    }
    .ant-table-expanded-row {
      background: #fbfbfb;
      td:first-child {
        display: none;
      }
    }
    .item-dot {
      width: 6px;
      height: 6px;
      background-color: #2e3943;
      display: inline-block;
      border-radius: 6px;
      margin-right: 10px;
    }
    .radio-main {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
    }
    .radio-tips {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }
  }

  .step-two-container {
    padding: 20px;
  }

  .step-three-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px;

    .title {
      font-size: 12px;
      color: #666666;
    }

    .edit-config-container {
      border: 1px solid #dddddd;
      border-radius: 2px;
      flex: 1;
      display: flex;
      margin-top: 12px;
      background-color: #fff;

      .step-three-side-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        .pl-20 {
          padding-left: 20px;
        }
        .ant-menu-inline {
          border-right: 0;
        }
        .ant-menu-inline .ant-menu-selected:after,
        .ant-menu-inline .ant-menu-item-selected:after {
          content: none;
        }

        .search-box {
          input {
            font-size: 12px;
          }

          .ant-select-selection {
            height: 28px;
            .ant-select-selection__rendered {
              height: 28px;
            }
            .ant-select-selection-selected-value {
              height: 28px;
              line-height: 25px;
            }
          }
        }

        .menu-box {
          flex: 1;
        }
      }

      .step-three-main-container {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;

        .no-select-text {
          font-size: 18px;
          font-weight: bold;
          color: #dddddd;
          text-align: center;
          margin-top: 50px;
        }

        .header {
          padding: 0 20px 0 20px;
          display: flex;
          align-items: center;

          .title {
            font-size: 16px;
            color: #333333;
          }

          .version-tag {
            padding: 0px 10px;
            margin-left: 10px;
            background-color: rgba(36, 145, 247, 0.1);
            border: 1px solid #3f87ff;
            color: #3f87ff;
          }

          .depend-tag {
            padding: 0px 8px;
            background-color: rgba(80, 227, 194, 0.1);
            border: 1px solid #50e3c2;
            color: #53e3c3;
          }

          .tag {
            margin-left: 6px;
            height: 24px;
            border-radius: 12px;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 22px;
            display: flex;
            align-items: center;
          }
        }

        .tabs-container {
            /* 滚动条宽度 */
            ::-webkit-scrollbar{width:5px;height: 5px;}
            /* 滚动条轨道颜色 */
            ::-webkit-scrollbar-track{
              box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
              border-radius: 0;
              background: rgba(0,0,0,0.1);
            }
            /* 滚动条颜色 */
            ::-webkit-scrollbar-thumb{
              border-radius: 5px;
              box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
              background: rgba(0,0,0,0.2);
            }
          .ant-collapse-content > .ant-collapse-content-box {
            padding: 12px 20px;
          }
          .resource-container {
            padding: 2px 10px 18px;
            .tagList{
              width: 100%;
              overflow-x: auto;
              overflow-y: hidden;
              height: 26px;
              display: flex;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .ant-transfer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .ant-transfer-list-content-item > span {
                padding-left: 4px;
              }
            }
          }
        }
        .resource-config-btn-box_COMP,
        .param-config-btn-container {
          position: absolute;
          z-index: 9;
          top: -10px;
          right: 70px;
        }
      }
    }
  }
}

.install-guide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #307dfd;
  position: relative;
  overflow: auto;

  .install-guide-bg {
    position: absolute;
    top: 0;
    & > img {
      display: block;
    }
    &.bg-st {
      background-color: #fff;
      left: 0;
    }
  }
  .install-guide-content {
    margin: 0 auto;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 14px;
    .title {
      font-size: 36px;
      font-weight: 600;
    }
    .desc {
      width: 506px;
      line-height: 24px;
      margin-bottom: 60px;
    }
    .ant-btn {
      padding: 9px 30px;
      height: unset;
      font-size: 14px;
    }
  }
}

.logtail-box {
  .ant-modal-body {
    padding-top: 11px;
  }

  input,
  .ant-select-selection--single {
    // height: 26px;
    font-size: 12px !important;
  }

  .ant-select-selection-selected-value {
    height: 26px;
    line-height: 26px;

    span {
      font-size: 12px;
    }
  }
}
.table-pagination_wraper {
  position: relative;
  padding-right: 44px;
  padding-bottom: 24px;
  min-height: 136px;
  .table-pagination_wraper_spin {
    position: absolute;
    left: 50%;
    bottom: -15px;
  }
}

.na-page-content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    width: 168px !important;
    background: #e8e8e8 !important;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
    color: #999 !important;
  }
  & > .ant-steps {
    margin: 0px auto 4px;
    width: 946px;
  }
  .step-triangle-box {
    margin: 0 auto;
    display: flex;
    .step-triangle-item {
      width: 16px;
      height: 8px;
      position: relative;
      z-index: 10;
      margin-left: 144px;
      &:nth-child(1) {
        margin-left: 8px;
      }
      // &:before {
      //   position: absolute;
      //   content: "";
      //   top: 0px;
      //   left: 0px;
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid #e8e8e8;
      // }
      // &:after {
      //   position: absolute;
      //   content: "";
      //   top: 1px;
      //   left: 0px;
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid #fafafa;
      // }
      &.not-active-step {
        &:before,
        &:after {
          border-color: transparent;
        }
      }
    }
  }
}

.step-set-modal {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.check-default-notification {
  .ant-notification-notice-with-icon .ant-notification-notice-message {
    font-weight: normal;
  }
}

.modal-icon-error {
  &.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
    color: #ff5f5c;
  }
}

// 产品线
.productNav{
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  .navTopLine{
    width: 4px;
    height: 12px;
    background: #3F87FF;
    margin-right: 8px;
    margin-top: 4px;
  }
  .navTopTxt{
    color: #333333;
    font-weight: bold;
    font-size: 12px;
  }
  .noticeTxt{
    color: #999;
    font-size: 12px;
    font-weight: 400;
  }
  .navButton{
    text-align: right;
    margin-left: 8px;
  }
}
.productLine{
  .productContent{
    height: 140px;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
    .productContentTop{
      display: flex;
      height: 40px;
      background: #FAFAFA;
      line-height: 40px;
      .productContentName{
        width: 320px;
        padding-left: 56px;
        box-sizing: border-box;
      }
    }
    .productContentBottom{
      display: flex;
      height: 100px;
      padding-left: 14px;
      padding-top: 12px;
      box-sizing: border-box;
      .productIcon{
        padding-top: 9px;
        padding-right: 7px;
      }
    }
  }
  .productContentList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 82px;

    .listItem{
      height: 28px;
      background: #F3F5F7;
      border-radius: 2px;
      padding: 6px 12px;
      color: #333333;
      font-size: 12px;
      line-height: 14px;
      border: 1px solid #F3F5F7;
    }
    .disListItem{
      height: 28px;
      border-radius: 2px;
      padding: 6px 12px;
      color: #333333;
      font-size: 12px;
      line-height: 14px;
      border: 1px solid #d9d9d9;
      background-color: #d9d9d9;
    }
    .listLine{
      width: 35px;
      height: 2px;
      border: 1px solid #999999;
      margin-top: 12px;
    }
    .listArrow{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent #999;
      margin-top: 7px;
    }
  }
}
.uploadProductLineModal{
  .uploadProductTable{
    margin-top: 20px;
  }
  .uploadTxt{
    color: #999999;
    margin-left: 8px;
    display: inline-block;
  }
  .actionName{
    text-align: center;
  }
  .ant-popover-inner-content{
    text-align: right !important;
  }
  .propBox{
    text-align: right !important;
  }
}
.versionList{
  display: flex;
  flex-wrap: wrap;
  .versionItem{
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 11px;
    border: 1px solid #DDDDDD;
    height: 20px;
    line-height: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .activeItem{
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 11px;
    border: 1px solid #3F87FF;
    height: 20px;
    line-height: 12px;
    color: #3F87FF;
    background: rgba(63, 135, 255, 0.1);
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
.stepThreeProductList{
  width: 180px;
  border-right: 1px solid #DDDDDD;
  overflow-y: auto;
  .stepThreeProductListTop{
    height: 40px;
    border-bottom: 1px solid #E8E8E8;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    padding-left: 20px;
  }
  .stepThreeListItem{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 14px;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    cursor: pointer;
  }
  .activeItem{
    background-color: #F0F8FFFF;
    color: #3F87FFFF;
    border-left: 3px solid #3F87FFFF;
  }
}
.step-set-modal{
  .step-set-title{
    margin-bottom: 12px;
  }
}
.stepTwoTable .ant-table-body{
  overflow-x: hidden !important;
}
