[mysqld_safe]
pid-file={{.pid_file}}

[mysqld]
basedir={{.basedir}}
datadir={{.datadir}}
tmpdir={{.tmpdir}}
pid_file={{.pid_file}}
socket={{.socket}}
log_error={{.log_error}}
#log_warnings=1
log_error_verbosity={{.log_error_verbosity}}
slow_query_log={{.slow_query_log}}
long_query_time={{.long_query_time}}
log_slow_admin_statements={{.log_slow_admin_statements}}
slow_query_log_file={{.slow_query_log_file}}
general_log={{.general_log}}
general_log_file={{.general_log_file}}
skip_symbolic_links={{.skip_symbolic_links}}
local-infile={{.local_infile}}



port={{.port}}
default_storage_engine=INNODB
character_set_server={{.character_set_server}}
lower_case_table_names={{.lower_case_table_names}}
skip_external_locking={{.skip_external_locking}}
open_files_limit={{.open_files_limit}}
safe_user_create={{.safe_user_create}}
#local_infile=1
performance_schema={{.performance_schema}}
auto_increment_increment={{.auto_increment_increment}}
auto_increment_offset={{.auto_increment_offset}}


# INNODB
innodb_buffer_pool_size={{.innodb_buffer_pool_size}}
innodb_flush_method={{.innodb_flush_method}}
innodb_file_per_table={{.innodb_file_per_table}}
innodb_log_files_in_group={{.innodb_log_files_in_group}}
innodb_log_file_size={{.innodb_log_file_size}}
innodb_buffer_pool_instances={{.innodb_buffer_pool_instances}}
innodb_log_buffer_size={{.innodb_log_buffer_size}}
innodb_flush_log_at_trx_commit={{.innodb_flush_log_at_trx_commit}}
innodb_open_files={{.innodb_open_files}}
innodb_data_home_dir={{.innodb_data_home_dir}}
innodb_data_file_path=ibdata1:{{.data1_len}};ibdata2:{{.data2_len}}:autoextend
innodb_log_group_home_dir={{.innodb_log_group_home_dir}}
log_bin={{.log_bin}}
binlog_cache_size={{.binlog_cache_size}}
max_binlog_cache_size={{.max_binlog_cache_size}}
max_binlog_size={{.max_binlog_size}}
binlog_format={{.binlog_format}}
sync_binlog={{.sync_binlog}}
log_slave_updates={{.log_slave_updates}}
expire_logs_days={{.expire_logs_days}}
innodb_io_capacity={{.innodb_io_capacity}}
innodb_max_dirty_pages_pct={{.innodb_max_dirty_pages_pct}}
innodb_thread_concurrency={{.innodb_thread_concurrency}}
innodb_read_io_threads={{.innodb_read_io_threads}}
innodb_write_io_threads={{.innodb_write_io_threads}}
innodb_file_format={{.innodb_file_format}}
innodb_change_buffering={{.innodb_change_buffering}}
innodb_adaptive_flushing={{.innodb_adaptive_flushing}}
innodb_old_blocks_time={{.innodb_old_blocks_time}}
innodb_stats_on_metadata={{.innodb_stats_on_metadata}}
#innodb_read_ahead=0
innodb_use_native_aio={{.innodb_use_native_aio}}
innodb_lock_wait_timeout={{.innodb_lock_wait_timeout}}
innodb_rollback_on_timeout={{.innodb_rollback_on_timeout}}
innodb_purge_threads={{.innodb_purge_threads}}
innodb_strict_mode={{.innodb_strict_mode}}
transaction_isolation={{.transaction_isolation}}
innodb_autoinc_lock_mode={{.innodb_autoinc_lock_mode}}
max_allowed_packet={{.max_allowed_packet}}

sql_mode={{.sql_mode}}

#for slave
relay-log ={{.relay_log}}
relay-log-index ={{.relay_log_index}}
master-info-file ={{.master_info_file}}
relay-log-info-file ={{.relay_log_info_file}}
server_id={{.server_id}}

# MyISAM
key_buffer_size={{.key_buffer_size}}
myisam_sort_buffer_size={{.myisam_sort_buffer_size}}
concurrent_insert={{.concurrent_insert}}
delayed_insert_timeout={{.delayed_insert_timeout}}
read_rnd_buffer_size={{.read_rnd_buffer_size}}
sort_buffer_size={{.sort_buffer_size}}
join_buffer_size={{.join_buffer_size}}
read_buffer_size={{.read_buffer_size}}


# OTHER
table_open_cache={{.table_open_cache}}
thread_cache_size={{.thread_cache_size}}
max_connections={{.max_connections}}
max_user_connections={{.max_user_connections}}
max_connect_errors={{.max_connect_errors}}
max_allowed_packet={{.max_allowed_packet}}
query_cache_type={{.query_cache_type}}
query_cache_limit={{.query_cache_limit}}
query_cache_min_res_unit={{.query_cache_min_res_unit}}
query_cache_size={{.query_cache_size}}
skip_name_resolve={{.skip_name_resolve}}
sysdate_is_now={{.sysdate_is_now}}
connect_timeout={{.connect_timeout}}
net_read_timeout={{.net_read_timeout}}
net_write_timeout={{.net_write_timeout}}
back_log={{.back_log}}
old_passwords={{.old_passwords}}
#session close time
interactive_timeout={{.interactive_timeout}}
wait_timeout={{.wait_timeout}}

log_bin_trust_function_creators={{.log_bin_trust_function_creators}}
