
.upload-bar {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.service-config-pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
  }

.product-container {
    padding: 22px 24px;
}

.ant-table-bordered {
    border-right: 0 !important;
}

.list-wrapper {
    width: 100%;
    margin: 0 auto;
}

.update-list {
    margin-top: 25px;

    h4 {
        line-height: 30px;
        font-size: 16px;
        color: #333;
    }

    .update-record-box {
        .update-record-item {
            margin: 10px 0;

            .record-product-name {
                line-height: 20px;
                font-size: 14px;
            }

            .update-detail {
                display: flex;

                .detail-item {
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
}

.ant-table-small {
    .ant-table-content {
        .ant-table-body {
            margin: 0;
        }
    }
}

// 卸载样式
.table-pagination_wraper {
    position: relative;
    padding-right: 44px;
    padding-bottom: 24px;
    min-height: 136px;

    .table-pagination_wraper_spin {
        position: absolute;
        left: 50%;
        bottom: -15px;
    }
}

.border-table {

    .ant-table-bordered .ant-table-thead>tr>th,
    .ant-table-bordered .ant-table-tbody>tr>td {
        border-right: none;
    }
}

.title__span--progress {
    font-family: PingFangSC-Medium, sans-serif;
    font-size: 14px;
    color: #333333;
    letter-spacing: 1px;
    margin-right: 12px;
}

.title__span--component {
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0.93px;
    margin-right: 20px;
}

.ant-tabs {
    overflow: unset;
}

.content-container {
    .ant-tabs {
      overflow: unset;
    }
    .ant-table {
        .ant-table-tbody {
            .dot {
                padding-left: 16px;
                position: relative;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    left: 0px;
                    top: 50%;
                    transform: translaate(0, -50%);
                    margin-top: -5px;
                }
            }

            .deploy-status-gray {
                &.dot:before {
                    background-color: #9EABB2;
                }
            }

            .deploy-status-red {
                &.dot:before {
                    background-color: #FF5F5C;
                }
            }

            .deploy-status-green {
                &.dot:before {
                    background-color: #12BC6A;
                }
            }

            .deploy-status-orange {
                &.dot:before {
                    background-color: #FFB310;
                }
            }
        }
    }
}
.patch-modal {
    .ant-modal-body {
        padding: 0;
    }
   .update-tips {
        width: 100%;
        height: 44px;
        background: rgba(63, 135, 255, 0.1);
        display: inline-flex;
        align-items: center;
        margin-bottom: 12px;
        .update-content {
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
        }

    } 
}
.dropbox {
    .ant-upload-btn {
        padding: 0 !important;
    }
    .update-icon {
        margin-bottom: 10px;
    }
}
.product-modal {
    .ant-modal-body {
        padding: 0 0 8px;
        .modeTips{
            font-size: 12px;
            color: #999999;
            margin-top: -5px;
        }
        .tips {
            display: inline-block;
            margin-left: 20px;
            .backuping {
                color: #3F87FF;
            }
            .backupsuccess {
                span {
                    color: #13BC69;
                    &:last-child {
                        margin-left: 20px;
                        color: #999;
                    }
                } 
            }
            .backupfail {
                span {
                    color: #E02020;   
                } 
                a {
                    margin-left: 20px;
                } 
            }
        }
    }
}